
.form-buscador input[type=search], button {
    border: 1px dotted #999;
    border-radius: 5px;
    padding: 5px;
  
    
  }
  select {
    width : 200px;
    margin: 0;  
    box-sizing: border-box;
  }
  .buscador {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }